<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eatoo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".config.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".src.mypage.invite.InviteActivity"></activity>
        <activity android:name=".src.mypage.profile.ProfileActivity" />
        <activity android:name=".src.home.group.vote.create_vote.CreateVoteActivity" />
        <activity android:name=".src.review.store_location.StoreLocationActivity" />
        <activity android:name=".src.review.create_review.create_review2.CreateReview2Activity" />
        <activity android:name=".src.review.store_map.StoreMapActivity" />
        <activity android:name=".src.review.my_review.MyReviewActivity" />
        <activity android:name=".src.review.create_review.create_review1.CreateReview1Activity" />
        <activity android:name=".src.home.group.groupmatesuggestion.Group_Mate_Suggetsion_Activity" />
        <activity android:name=".src.home.group.GroupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".src.home.create_group.group_location.GroupLocationActivity" />
        <activity android:name=".src.signinlogin.signin.SignInActivity3" />
        <activity android:name=".src.signinlogin.signin.SignInActivity2" />
        <activity android:name=".src.explanation.ExplanationActivity" />
        <activity android:name=".src.splash.SplashActivity">

        </activity>
        <activity android:name=".src.home.create_group.CreateGroupActivity" />
        <activity android:name=".src.signinlogin.signin.SignInActivity" />
        <activity android:name=".src.signinlogin.login.LoginActivity" />
        <activity android:name=".src.main.MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map" />
    </application>

</manifest>